body{
    background-color: #c18244;
    border-style: solid;
        border-color: black;

}
p{
    font-family: 'Lato';
    font-size: 30px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 12px;
}
